
    
.playersHand,.stack
    .card
        cursor: pointer

.stack
    .card 
        border: yellow 2px solid
        border-radius: 5%
        background-color: yellow

.card
    height: 10vw
    overflow: hidden
    width: fit-content
img
     max-height: 100%